.nosotros{

    &--subtitle{
        font-family: 'Bebas Neue', cursive;
    }

    &--subtitle-2{
        font-family: 'Quicksand', sans-serif;
        text-align: center;
        margin-top: 50px;
    }   

    &__box{
        display: flex;

        &__storie{
            width: 50%;
            
            & p {
                margin: 40px;
                font-weight: bold;
                font-family: 'Roboto', sans-serif;
                font-size: 18.5px;
            }
        }

        &__img{
            width: 50%;
            height: 350px;
            background-image: url(../../../public/images/tecnico1.jpg);
            background-size: cover;
            border-radius: 8px;
        }
    }

    &__marcas{
        display: flex;
        justify-content: space-evenly;
    }
}