.nosotros{

    &--subtitle{
        font-family: 'Bebas Neue', cursive;
    }

    &--subtitle-2{
        font-family: 'Quicksand', sans-serif;
        text-align: center;
        margin-top: 120px;
    }   

    &__box{
        display: flex;

        & p {
            margin: 40px;
            font-weight: bold;
            font-family: 'Roboto', sans-serif;
            font-size: 18.5px;
        }

        &__img{
            height: 350px;
            background-image: url(../../../public/images/tecnico1.jpg);
            background-size: cover;
            border-radius: 8px;
        }
    }

    &__marcas{
        display: flex;
        justify-content: space-evenly;
        margin-top: 100px;
    }

    &__box-2{
        display: flex;

        & p {
            margin: 40px;
            font-weight: bold;
            font-family: 'Roboto', sans-serif;
            font-size: 18.5px;
        }

        &__img{
            height: 350px;
            background-image: url(../../../public/images/logistica.jpg);
            background-size: cover;
            border-radius: 8px;
        }
    }
}

@media screen and ( max-width: 767px) {
    .nosotros__box{
        flex-direction: column;

        &__img{
            display: none;
        }
    }

    .nosotros__box-2{
        flex-direction: column;

        &__img{
            display: none;
        }
    }

    .nosotros__marcas{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and ( min-width: 768px ) {

    .nosotros__box__img{
        margin-top: 130px;
    }
}