.pasos{
    width: 81rem;
    height: 17rem;
    position: relative;
    bottom: 70px;
    background-color: #f8f9fa;
    border-radius: 30px;

    &__container{
        width: 100%;
        display: flex;
        padding: 5px;

        &__art{
            width: 25%;
            border-left: solid 1px #dee2e6;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: 40px;

            &--subtitle{
                font-family: 'Roboto', sans-serif;
                font-weight: bolder;
                text-transform: uppercase;
                font-size: 23px;
            }

            &--parrafo{
                font-family: 'Roboto', sans-serif;
                font-size: 1.2em;
            }
        }
    }
}

.clas{
    border: none;
}

.icon{
    font-size: 60px;
    color: #8ecae6;
    border-bottom: solid 5px #8ecae6;
}