.banner{
    background-color: #457b9d;

    &-div{
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        &__icon{
            width: 50px;
            height: 50px;
            background-image: url(../../../public/images/logo.png);
            background-size: 55px;
        }

        &__nav{
            width: 20rem;
            // position: relative;
            // left: 180px;
            color: whitesmoke;
            
            & a{
                text-decoration: none;
                padding: 15px;
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
                text-transform: uppercase;

                &:hover{
                    background-color: #8ecae6;
                }
            }
        }
    }
}

.link{
    background-color: #8ecae6;
}

@media screen and ( max-width: 767px ) {
    
    .banner-div__nav{
        width: auto;
        
        & a{
            padding: 0;
            margin-left: 14px;
            font-size: 13px;
        }
    }
}
