.main{
    height: 25rem;
    background-image: url(../../../public/images/banner.jpg);
    background-size: cover;
    position: relative;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.7);
    }

    &__section{
        display: flex;
        justify-content: center;

        &__title{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 350px;
        }

        &--title{
            color: white;
            font-family: 'Bebas Neue', cursive;
            font-size: 130px;
        }

        &--title-2{
            color: white;
            font-family: 'Bebas Neue', cursive;
        }
    }
}

@media screen and ( max-width: 767px ) {

    .main{
        background-image: url(../../../public/images/banner2.jpg);
        background-size: 200% 100%;
    }

    .main__section--title{
        font-size: 80px;
    }
}